@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:ital,wght@0,200;0,300;0,700;0,900;1,100;1,200;1,600;1,800&display=swap');
body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav_bg{
  background-color:#fff;
}
.navbar {
  background-color: white;
  width:100%;
}
.navbar-brand{
  font-size: 1.9rem;
  color: #5653 
}
.navbar a:hover{
  color: #3498db !important;
}
.active{
  font-weight: bold;
  border-bottom: 1px solid #a8a812;
}
.container-fluid_Home{
  margin-top: 200px;
  margin-left: 200px;
}
.btn-get-Started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius:50px;
  transition: 0.5s;
  color:#3498db;
  border:2px solid #3498db;
  text-decoration: none;
}
#header .brand-name{
  color:skyblue
}
#header h1{
  margin :0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color:black;
}
#header h2{
  color: #a8a812;
  font-size:24px;
}
#header .btn-get-Started:hover{
  color: #fff ;
  background:#3498db ;
}
.header-img{
  text-align: right;
}
#header .animated{
  animation: up_down 5s ease-in-out infinite alternate-reverse both ;
}
@-webkit-keyframes up_down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up_down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.navbar-brand{
  margin-left: 200px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(245, 240, 240);
  color: rgb(20, 8, 8);
  text-align: center;
}
.card-img-top{
  width:200px;
  height:200px;
}
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

*{
  margin:0;
  padding: 0;
  
}
.app{
  min-height: 100vh;
  max-height: auto;
  background-color: white;
}
.heading{
  text-align: center;
  font-family: 'Alice', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #120707;
  padding-top: 2rem;
}
#file[type="file"] {
	display: none;
}
.label-holder {
	width: 100%;
	height: 50px;
  margin-top: 3em;
  display: grid;
  place-items: center;
  
}
.label{
  height: 50px;
  width: 200px;
  background-color:white;
  color: rgb(18, 18, 18);
  display: grid;
  place-items: center;
  font-size: 2.0rem ;
  cursor: pointer;
  
}

.result{
  min-height: 100%;
  max-height: auto;
  width: 100%;
  margin-top:1rem ;
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left; 
  
}

img{
  width: 320px;
  height: 180px;
  object-fit: cover;
  padding: 0.75rem;
  
}